* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div > h1 {
  margin-top: 40px;
  text-align: center;
}

div > p {
  text-align: center;
  margin-top: 40px ;
  font-size: 18px;
}

div > p > a {
  color: #000;
  font-size: 18px;
  text-decoration: underline;
}

form {
  margin: 40px 0px;
}

.add-post {
  padding: 5px 15px;
  cursor: pointer;
  background-color: #3f3f3f;
  color: #00eeff;
  border-radius: 10px;
  border: none;
}

button {
  cursor: pointer;
  margin: 40px 20px 0px 0px;
  border: none;
  background-color: #3f3f3f;
  font-size: 14px;
  color: #00eeff;
  padding: 2.5px 10px;
  border-radius: 10px;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  list-style: disc;
  flex: 1 1 auto;
}

main a li {
  margin-top: 20px;
}

main a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

main a:hover {
  text-decoration: underline;
}

.active-link {
  color: #00eeff
}

header {
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 120px;
}

header > a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

footer {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 20px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}